
    @import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


    nav a {
        font-family: karla;
    }

    #header {
        margin-top: 125px;
    }

    #header h1 {
        font-family: 'Montserrat';
        font-weight: 900;
        font-size: 58px;
    }

    #header p {
        font-size: 18px;
        font-family: karla;
        color: rgba(120, 126, 131, 1);
    }

    #header img {
        min-height: 180px;
    }

    #wwd h1 {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 36px;
        color: rgba(49, 50, 51, 1);
        text-align: center;
    }

    #about h1 {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 36px;
        color: rgba(49, 50, 51, 1);
        text-align: center;
    }

    #our_client h1 {
        font-family: 'Montserrat';
        font-size: 36px;
        font-weight: 600;
        color: rgba(49, 50, 51, 1);
        text-align: center;
    }

    #our_client ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffffff;

    }

    #our_client ul li {
        float: left;
    }

    #our_client ul li a {
        display: block;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        font-family: 'Karla';
        font-weight: 400;
        font-size: 18px;
        color: #313233;
        letter-spacing: -0.02em;

    }

    #our_client ul li a:focus {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 45px 0px #e3e3e6;
        color: green;
        text-decoration: none;
        font-family: 'Karla';
        font-size: 18px;
        font-weight: bold;
        color: #87c56d;
        text-align: left;
        letter-spacing: -0.02em;
        border: 0cm;
    }

    #abtp {
        font-family: 'Karla';
        font-size: 16px;
        color: #7c828f;
        text-align: left;
        letter-spacing: -0.03em;
        line-height: 24px;
    }

    @media only screen and (min-width: 800px) {

        #abtp {
            padding: 100px;
            padding-top: 220px;
        }

        #card {
            margin-left: 50px;
            margin-top: 100px;
            height: 334px;
            width: 478px;
        }

        #vid {
            height: "534px";
            width: "890px";
            margin-left: 250px;
        }

        #t-card {
            height: 360px;
            width: 1045px;
            margin-left: 25px;

        }

        #test {
            padding: 120px;
        }

        #logo {
            margin-left: 100px;
        }

        #message-card {
            height: 476px;
            width: 684px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0px 0px 64px 0px #e1e1e9;
            margin-left: 120px;
            padding: 40px;
        }

        #message-card textarea {
            height: 109px;
            width: 604px;
        }

        #sitemap {
            padding-top: 80px;
            padding-left: 60px;
        }

        #mb {
            display: none;
        }


    }

    @media only screen and (max-width: 800px) {

        #abtp {
            padding: 50px;
        }

        #vid {
            width: 100%;
            height: auto;
        }

        #card {
            width: 100%;
            height: auto;
        }

        #t-card {
            height: auto;
            width: 100%;
        }

        .col-md-1 img {
            height: 110px;
            width: 110px;
        }

        #message-card {
            height: auto;
            width: 100%;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0px 0px 64px 0px #e1e1e9;
            padding: 40px;
        }

        #message-card textarea {
            height: 150px;
            width: 291px;
        }

        #contact-img {
            display: none
        }

        #sitemap {
            padding-top: 80px;
        }

        #footer2 .col-md-5 a {
            margin-top: 20px;
        }

        #pc {
            display: none;
        }

        #mb {
            text-align: center;
            margin-top: 30px;
        }

    }

    #unl {
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        color: #87c56d;
    }

    .grid__item:hover {
        box-shadow: 0px 0px 64px 0px #e9e9f2;
        transition-delay: 0s !important;
    }

    .center-block {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #sub-wwd div b {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 16px;
        color: rgba(49, 50, 51, 1);
        letter-spacing: 0.06em;
        line-height: 22px;
    }

    #sub-wwd div p {
        font-family: 'Karla';
        font-size: 14px;
        font-weight: 400;
        color: rgba(124, 130, 143, 1);
        letter-spacing: -0.04em;
        line-height: 21px;
    }

    #hiw {
        background-color: #fafafe;
    }

    #hiw h1 {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 36px;
        color: rgba(49, 50, 51, 1);
        text-align: center;
    }

    #ot h1 {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 36px;
        color: rgba(49, 50, 51, 1);
        text-align: center;
    }

    .c-name {
        font-family: 'Karla';
        font-size: 22px;
        color: #323743;
        text-align: center;
        letter-spacing: -0.02em;
        line-height: 24px;
    }

    .c-style {
        height: 405px;
        width: 271px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 64px 0px #e4e4ef;
        margin: auto;
        margin-bottom: 30px;
    }

    .c-img {
        height: 250px;
        width: 271px;
    }

    .c-style b {
        font-family: 'Karla';
        font-size: 22px;
        color: #323743;
        text-align: left;
        letter-spacing: -0.02em;
        line-height: 24px;
    }

    .c-style p {
        font-family: 'Karla';
        font-size: 16px;
        color: #7c828f;
        text-align: center;
        margin-top: -20px;
    }

    .c-style a {
        letter-spacing: 20px;
        color: #7c828f;
    }

    #whyFairloy {
        background-color: #fafafe;
    }

    #card {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 64px 0px #e1e1e9;
        padding: 40px;
    }

    #card_heading {
        font-family: 'Montserrat';
        font-size: 28px;
        font-weight: 900;
        color: #313233;
        text-align: left;
        line-height: 22px;
        margin-top: 25px;
    }

    #card_par_1 {
        font-family: 'Karla';
        font-weight: 400;
        font-size: 16px;
        color: #323743;
        text-align: left;
        letter-spacing: -0.03em;
        line-height: 24px;
    }

    #card_par_2 {
        font-family: 'Karla';
        font-weight: 400;
        font-size: 16px;
        color: #7c828f;
        text-align: left;
        letter-spacing: -0.03em;
        line-height: 24px;
    }

    #testimonials {
        background-color: #f1f1f5
    }

    #testimonials h1 {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 36px;
        color: rgba(49, 50, 51, 1);
        text-align: center;
    }

    #t-card {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 64px 0px #e1e1e9;
    }

    .t-img-border {
        border: 15px solid transparent;
        padding: 15px;
        -webkit-border-image: url(https://i.ya-webdesign.com/images/rectangle-border-png-2.png) 5 stretch;
        -o-border-image: url(https://i.ya-webdesign.com/images/rectangle-border-png-2.png) 5 stretch;
        border-image: url(https://i.ya-webdesign.com/images/rectangle-border-png-2.png) 5 stretch;
        height: 120px;
        width: 120px;
    }

    #quote {
        height: 53px;
        width: 71px;
        margin-left: 60px;
        margin-top: 45px;
    }

    #line {
        font-size: 30px;
        color: #87c56d;
        margin-left: 60px;
        display: inline;
        word-wrap: break-word;
    }

    #t-name {
        font-family: 'Montserrat';
        font-size: 26px;
        color: #313233;
        text-align: left;
        line-height: 22px;
        margin-left: 20px;
        display: inline;
        word-wrap: break-word;
    }

    #t-content {
        font-family: 'Karla';
        font-size: 16px;
        color: #7c828f;
        text-align: left;
        letter-spacing: -0.03em;
        line-height: 24px;
        margin-top: 32px;
        margin-left: 60px;
        margin-right: 130px;
    }

    #message-card h1 {
        font-family: 'Montserrat';
        font-size: 26px;
        color: #313233;
        text-align: left;
        line-height: 22px;
    }

    #message-card input[type="text"] {
        height: 55px;
        width: 291px;
        background-color: #ffffff;
        border: 1px solid #a7abb6;
        border-radius: 10px;
        margin-top: 20px;
    }

    ::placeholder {
        font-family: 'Karla';
        font-size: 18px;
        color: #5e6871;
        text-align: left;
    }

    #message-card textarea {
        background-color: #ffffff;
        border: 1px solid #a7abb6;
        border-radius: 10px;
        margin-top: 20px;
    }

    #message-card button {
        height: 55px;
        width: 210px;
        background-color: #87c56d;
        border-radius: 10px;
        font-family: 'Karla';
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        margin-top: 25px;
    }

    #footer1 {
        height: auto;
        width: 100%;
        background-color: #24224b;
        padding: 50px 0px 35px 0px;
    }

    #footer1 p {
        font-family: 'Karla';
        font-size: 24px;
        color: #ffffff;
        text-align: center;
        letter-spacing: -0.02em;
    }

    #footer1 a {
        padding: 17px 40px 17px 40px;
        background-color: #87c56d;
        border-radius: 10px;
        font-family: 'Karla';
        font-size: 18px;
        color: #ffffff;
        text-align: center;
    }

    #footer2 {
        height: auto;
        width: 100%;
        background-color: #24224b;
        padding: 60px;
    }

    #footer2 img {
        height: 53px;
        width: 207px;
    }

    #footer2 .col-md-3 h1,
    #footer2 .col-md-5 h1 {
        font-family: 'Montserrat';
        font-size: 26px;
        color: #ffffff;
        text-align: left;
        line-height: 22px;
        margin-bottom: 45px;
    }

    #footer2 .col-md-3 p,
    #footer2 .col-md-5 p {
        font-family: 'Karla';
        font-size: 16px;
        color: #ffffff;
        text-align: left;
        margin-bottom: 18px;
    }

    #footer2 .col-md-5 input[type="text"] {
        height: 55px;
        width: 255px;
        border: 1px solid #ffffff;
        border-radius: 10px;
        background-color: #24224b;
    }

    #footer2 .col-md-5 a {
        background-color: #434265;
        border-radius: 10px;
        font-family: 'Karla';
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        padding: 17px 40px 17px 40px;
    }

    #footer2 .col-md-1 a {
        color: #ffffff
    }

    #footer3 {
        background-color: #2c2a4d;
        padding: 20px 0px 6px 0px;
    }

    #footer3 p {
        font-family: 'Karla';
        font-size: 16px;
        color: #ffffff;
        text-align: center;
    }
